/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.pages {
  width: 100%;
  height: auto;
  min-height: 80dvh;
  padding: 2rem;
  margin: 0 auto;
}